.products{
    width: 100%;
    /* background-color: aquamarine; */
    display: flex;
    gap: 10px;
}
.left-section{
    min-width: 15%;
    /* background-color: bisque; */
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 10px;
    position: sticky;
    height: 100%;
    top: 50px;
}

.right-section{
    width: 85%;
    /* background-color: blue; */
    margin: 10px;
}